{% extends 'OceresRecipeBundle:Frontend:default.html.twig' %}

{% block maincontent %}
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-9 col-sm-9" id="searchresults">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-12 col-sm-12">
					<strong>Results for: </strong>{{ keywords }}
					</div>
				</div>
				{% for recipe in results %}
				<div class="row result">
					<div class="col-xs-12 col-sm-8">
						<a class="title" href="/recipe/{{ recipe.id }}/{{ recipe.title }}">{{ recipe.title }}</a>
						<div><strong>By: </strong>{{ recipe.chef }}</div>
						<div class="date">{{ recipe.indt }}</div>
					</div>
					<div class="col-xs-12 col-sm-4">
						<div class="preptime">Prep time: <strong>{{ recipe.preptime }}</strong></div>
						<div class="cooktime">Cook time: <strong>{{ recipe.preptime }}</strong></div>
						<div class="serves">Serves: <strong>{{ recipe.serves }}</strong></strong></div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="col-xs-3 col-sm-3">
			This is where the RH block will go
		</div>
	</div>
</div>
{% endblock %}